In [9]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
li=["hello this is sunita","I want to share my data science journey"]
matrix=cv.fit_transform(li)

In [10]:
cv.get_feature_names_out()

array(['data', 'hello', 'is', 'journey', 'my', 'science', 'share',
       'sunita', 'this', 'to', 'want'], dtype=object)

In [11]:
import pandas as pd
import numpy as np

df=pd.DataFrame(matrix.toarray(),columns=cv.get_feature_names_out())
df

   data  hello  is  journey  my  science  share  sunita  this  to  want
0     0      1   1        0   0        0      0       1     1   0     0
1     1      0   0        1   1        1      1       0     0   1     1

In [ ]:
# now how tf(term frquency) - idf(inverse document frequency) work for above example

In [39]:
from sklearn.feature_extraction.text import TfidfTransformer

# Input data
li = ["hello this is sunita", "I want to share my data science journey"]


# Initialize TfidfTransformer
tfidf_transformer = TfidfTransformer()
tfidf_matrix = tfidf_transformer.fit_transform(matrix)
df_tf_matrix=pd.DataFrame(tfidf_matrix.toarray(),columns=cv.get_feature_names_out())
print(df_tf_matrix)

       data  hello   is   journey        my   science     share  sunita  this  \
0  0.000000    0.5  0.5  0.000000  0.000000  0.000000  0.000000     0.5   0.5
1  0.377964    0.0  0.0  0.377964  0.377964  0.377964  0.377964     0.0   0.0

         to      want
0  0.000000  0.000000
1  0.377964  0.377964